/* Navbar */
#navbar a.active {
  border-bottom: 2px solid rosybrown;
}

/* Header */
#header {
  /* background-color: rgba(188, 143, 143, 0.747); */
  background-image: linear-gradient(rgba(188, 143, 143, 0.747), antiquewhite);
  width: 100%;
  /* border: 5px solid orange; */
}
#header .img-kiri {
  width: 35%;
  filter: drop-shadow(5px 5px 5px);
}

#header .img-kanan {
  width: 35%;
  filter: drop-shadow(-5px 5px 5px);
}

#header .box {
  width: 20%;
  height: 50px;
  background-color: bisque;
  /* margin-bottom: -25px; */
  box-shadow: 0 0 5px;
}

/* Couple */
#couple {
  background-image: linear-gradient(antiquewhite, rosybrown, antiquewhite);
}

#couple .img-avatar {
  width: 250px;
  border: 1px solid black;
}

#couple .img-border-avatar {
  width: 250px;
  top: 47%;
  left: 30%;
  transform: rotate(-40deg);
}

#love-story {
  background-image: url("../img/bg-3.png"),
    linear-gradient(antiquewhite, rosybrown, rosybrown);
}

/* Date */
#date {
  background-image: linear-gradient(rosybrown,  antiquewhite);
}

#date .card {
  border-radius: 25px;
}

#date #location iframe{
  border-radius: 15px;
  border: 5px solid bisque;
}

#date #location button {
  height: 40px;
  border-radius: 10px;
}

/* Gallery */
#gallery {
  background-color: antiquewhite;
}

/* Quotes */
#quotes {
  background-color: rgba(188, 143, 143, 0.747);
}